#############################################
# APPLICATION HTTPS
#############################################
server {
    server_name {{ lookup('env','NGINX_SERVER_NAME') }};

    # Access and error logs
    access_log {{ lookup('env','NGINX_ACCESS_LOG') | default('/var/log/nginx/pathflowdx_access.log') }};
    error_log {{ lookup('env','NGINX_ERROR_LOG') | default('/var/log/nginx/pathflowdx_error.log') }};

    # Upload settings
    client_max_body_size {{ lookup('env','NGINX_CLIENT_MAX_BODY_SIZE') | default('100m') }};

    location / {
        proxy_pass http://127.0.0.1:{{ lookup('env','APP_PORT') }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        # Proxy timeouts
        proxy_connect_timeout {{ lookup('env','NGINX_PROXY_CONNECT_TIMEOUT') | default('600') }}s;
        proxy_send_timeout {{ lookup('env','NGINX_PROXY_SEND_TIMEOUT') | default('600') }}s;
        proxy_read_timeout {{ lookup('env','NGINX_PROXY_READ_TIMEOUT') | default('600') }}s;
    }

    listen {{ lookup('env','NGINX_HTTPS_PORT') }} ssl;
    ssl_certificate /etc/letsencrypt/live/{{ lookup('env','NGINX_SERVER_NAME') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ lookup('env','NGINX_SERVER_NAME') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

#############################################
# HTTP → HTTPS REDIRECT
#############################################
server {
    listen {{ lookup('env','NGINX_HTTP_PORT') }};
    server_name {{ lookup('env','NGINX_SERVER_NAME') }};
    return 301 https://$host$request_uri;
}
